body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#points, #clickValue, #upgradeCost, #inviteLink, #signInMessage, #walletAddress, #autoClickerCost, #staminaUpgradeCost, #stamina {
  margin: 10px 0;
}

.click-button, .upgrade-button, .sign-in-button, .connect-wallet-button, .auto-clicker-button, .upgrade-stamina-button {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
}

.click-button:hover, .upgrade-button:hover, .sign-in-button:hover, .connect-wallet-button:hover, .auto-clicker-button:hover, .upgrade-stamina-button:hover {
  background-color: #005f73;
}
